@page
@model Mission7.Pages.PurchaseModel
@{
}

<h2>Your cart</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Quantity</th>
            <th>Cost</th>
            <th>Remove Book</th>
        </tr>
    </thead>

    <tbody>
        @foreach(var i in Model.cart.cartItems)
        {
            <tr>
                <td>@i.book.Title</td>
                <td>@i.Quantity</td>
                <td>@i.book.Price.ToString("c")</td>
                <td class="text-center">
                    <form method="post" asp-page-handler="Malone">
                        <input type="hidden" value="@i.book.BookId" name="BookId"/>
                        <input type="hidden" value="@Model.ReturnUrl" name="returnURL" />
                        <button type="submit" class="btn btn-sm btn-danger">❌</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>

    <tfoot>
        <tr>
            <td colspan="3">@Model.cart.CalculateTotal().ToString("c")</td>
        </tr>
    </tfoot>
</table>

<div>
    <a class="btn btn-primary" href="@Model.ReturnUrl">Continue Shopping</a>
</div>